body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.wrapper {
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}
.info-text__description--header {
  margin-top: 36%;
}
.info-text__description--main {
  margin-top: 8%;
}
@media (max-width: 992px) {
  .info-text__description--header {
    margin-top: 3%;
  }
}
@media (max-width: 768px) {
  .info-text__description--header {
    margin-top: 3%;
  }
}
@media (max-width: 480px) {
  .info-text__description--header {
    margin-top: 3%;
  }
}
@media (max-width: 320px) {
  .info-text__description--header {
    margin-top: 3%;
  }
}
.progress-bar h2 {
  margin-top: 0.6em;
}
.form-header {
  position: relative;
}
.form-header::before {
  content: "";
  position: absolute;
  width: 78%;
  height: 1px;
  right: 0;
  top: 0.6rem;
  background-color: rgba(128, 128, 128, 0.5);
}
@media (max-width: 992px) {
  .form-header::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .form-header::before {
    display: none;
  }
}
@media (max-width: 480px) {
  .form-header::before {
    display: none;
  }
}
@media (max-width: 320px) {
  .form-header::before {
    display: none;
  }
}
.navigation {
  border: 1px solid rgba(139, 134, 134, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 30px;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation__link--personal {
  color: #a723e4;
}
.navigation__link--sectionOne {
  color: #050505;
}
.navigation__link--sectionThree {
  color: #4242ee;
}
.navigation__link--sectionFour {
  color: #ffa500;
}
.navigation__link--sectionFive {
  color: #ee3030;
}
.progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
}
@media (max-width: 768px) {
  .counter {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .counter {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .counter {
    width: 100%;
  }
}
.counter__step {
  width: 21%;
  height: 15px;
  text-align: center;
  line-height: 15px;
  border: 1px solid rgba(139, 134, 134, 0.5);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
.counter__step--one {
  background-color: #43df43;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.counter__step--five {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.info-text {
  width: 30%;
  vertical-align: middle;
}
@media (max-width: 992px) {
  .info-text {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .info-text {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .info-text {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 320px) {
  .info-text {
    width: 100%;
    height: auto;
  }
}
.main {
  width: 68%;
}
@media (max-width: 992px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .main {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .main {
    width: 100%;
  }
}
.form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-info__row--three {
  width: 66%;
}
.form-info__row--three .form-info__description {
  width: 47%;
}
.form-info__row--four .form-info__description {
  width: 100%;
}
.form-info__description {
  position: relative;
  width: 30%;
  margin-bottom: 10px;
}
.form-info__description--header {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 992px) {
  .form-info__description--header {
    height: 35px;
  }
}
@media (max-width: 768px) {
  .form-info__description--header {
    height: 35px;
  }
}
@media (max-width: 480px) {
  .form-info__description--header {
    height: 35px;
  }
}
@media (max-width: 320px) {
  .form-info__description--header {
    height: 35px;
  }
}
.description__yesChangeName,
.description__genderM {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.description__noChangeName,
.description__genderW {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.form-info__description input[type="radio"]:checked + span {
  background-color: #43df43;
}
.form-info__description {
  margin-bottom: 30px;
}
.form-info__description--footer {
  display: block;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #afabab;
}
.form-info__changeLastName,
.form-info__inputGender {
  position: absolute;
  left: -9999px;
}
.form-info__changeLastName,
.form-info__inputGender {
  display: none;
}
.form-info__countrySelect {
  width: 100%;
}
.form-info__statusSelect {
  width: 100%;
}
.form-info__nativeCitySelect {
  width: 100%;
}
.form-info__inputFirstName {
  width: 100%;
}
.form-info__inputSecondName {
  width: 100%;
}
.form-info__inputlastName {
  width: 100%;
}
.form-info__birthdaySelect {
  width: 28%;
}
@media (max-width: 992px) {
  .form-info__birthdaySelect {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media (max-width: 768px) {
  .form-info__birthdaySelect {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media (max-width: 480px) {
  .form-info__birthdaySelect {
    width: 100%;
    margin-bottom: 5%;
  }
}
@media (max-width: 320px) {
  .form-info__birthdaySelect {
    width: 100%;
    margin-bottom: 5%;
  }
}
.form-info__birthdaySelect--mounth {
  width: 40%;
}
@media (max-width: 992px) {
  .form-info__birthdaySelect--mounth {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .form-info__birthdaySelect--mounth {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .form-info__birthdaySelect--mounth {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .form-info__birthdaySelect--mounth {
    width: 100%;
  }
}
.form-info__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  background-color: rgba(211, 211, 211, 0.5);
  border-radius: 10px;
  padding: 0 10px;
}
.btn {
  width: 20%;
  height: 55%;
  background-color: rgba(139, 134, 134, 0.9);
  border: none;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color: #fff;
}
@media (max-width: 992px) {
  .btn {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .btn {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .btn {
    width: 45%;
  }
}
@media (min-width: 340px) and (max-width: 340px) {
  .btn {
    width: 45%;
  }
}
.btn-next {
  background-color: #43df43;
}
.btn_active {
  background-color: #43df43;
}
.counter__step--active {
  background-color: #43df43;
  color: white;
}
.counter__step--done {
  background-color: #2e962e;
  color: white;
}
.btn-done {
  display: none;
  position: absolute;
}
.btn-nextHidden {
  display: none;
}
.btn-doneShow {
  position: absolute;
  display: block;
  right: 5px;
  background-color: #43df43;
}
